@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 mb-4">Welcome</h1>

    <div class="d-flex justify-content-center">
        <a class="btn btn-info mx-2" asp-action="Expenses">Overview</a>
        <a class="btn btn-success mx-2" asp-action="CreateNewOrEdit">Create New</a>
    </div>
</div>
                            